<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta content="Google Developer Group Guadalajara" name="author">

  <meta content="Introducción a Google App Engine" name="description">
  <meta content="GAE, Google App Engine, GDG, Google Developer Group, Guadalajara" name="keywords">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/default.css">

  <title>Introducción a GAE - GDG Guadalajara</title>
</head>
<body>
{% block body %}
  <p>Hello Google App Engine!</p>
{% endblock %}
</body>
</html>